body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#0D0D2B;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  font-family: 'Rubik', sans-serif; 
}
ul{
    list-style: none;
}
button{
    border: none;
}